{{- $file := .Get "file" -}}
{{- $codeLang := "" -}}
{{- $caption := "" -}}
{{- $suffix := findRE "(\\.[^.]+)$" $file 1 -}}
{{- with  $suffix -}}
{{- $codeLang = (index . 0 | strings.TrimPrefix ".") -}}
{{- end -}}
{{- with .Get "codeLang" -}}{{- $codeLang = . -}}{{- end -}}
{{- with .Get "caption" -}}{{- $caption = . -}}{{- end -}}
<div class="code sidebar-footer" id="{{ $file | urlize}}">
  {{- with $file -}}
    <div class="filename">{{.}}</div>
  {{- end -}}
  {{- if ne (.Get "copy") "false" -}}
    <button class="copy-btn copy" title="Copy this code to your clipboard." data-clipboard-action="copy" aria-label="Copy this code."><i class="fas fa-clipboard"></i> Copy</button>
  {{- end -}}
  <div class="code-content" {{ with .Get "download" }}id="{{ . }}"{{ end }}>
      {{ if .Get "nocode" }}{{ $.Inner }}{{ else }}{{ with $codeLang }}{{- highlight $.Inner . "" | -}}{{ else }}<pre><code>{{- .Inner | string -}}</code></pre>{{ end }}{{ end }}
  </div>
  {{- with $caption -}}
  <span style="width: 100%; text-align: center;"><em>{{.}}</em></span>
  {{- end -}}
</div>
